* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: .95rem;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

button {
  border: none;
  outline: none;
  background: linear-gradient(to right bottom, rgba(0,204,255,0.8), rgba(0,102,255,0.8));
  text-transform: uppercase;
  padding: .8rem 3rem;
  color: white;
  border-radius: 100px;
  cursor: pointer;
  transition: all .3s ease;
  box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
}

button:hover {
  border: none;
  color: black;
  transform: translateY(-3px);
  transition: all .3s ease;
  box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
}

button:active {
  transform: translateY(-1px);
}

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-image: linear-gradient(to right bottom,
  rgba(0,204,255,0.8), rgba(0,102,255,0.8)),
  url(../img/main_site.jpeg);
  background-size: cover;
  background-position: center;
}

.centered-form__form {
  background: rgba(222,222,222, 0.9);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0px 20px;
  margin: 20px;
  width: 230px;
}

.form-field {
  margin: 20px 0;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
}

.form-field__input, .form-field__select {
  font-size: 1rem;
  padding: .5rem;
  border-radius: 2px;
  background-color: rgb(255,255,255);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  transition: all .3s;
}

.form-field__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
  border-bottom: 3px solid #55c57a;
}

.form-field__select:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
}

.form-field__input:focus:invalid {
  border-bottom: 3px solid red;
}

.form-field__select {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.chat {
  display: flex;
}

.chat__sidebar {
  overflow-y: auto;
  width: 260px;
  height: 100vh;
  border-right: 10px;
  background: linear-gradient(to right bottom, rgb(0,204,255), rgb(0,102,255));
}

.chat__sidebar h3 {
  color: white;
  margin: 10px 20px;
  text-align: left;
}

.chat__sidebar ul {
  list-style-type: none;
}

.chat__sidebar li {
  list-style-type: none;
  background: #e6eaee;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.chat__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #e6eaee;
  display: flex;
  padding: 10px;
  flex-shrink: 0;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer form * {
  margin-right: 10px;
}

.message-input {
  outline: none;
  border-radius: 100px;
}

.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  padding: 10px;
}

.message__title {
  display: flex;
  margin-bottom: 5px;
}

.message__title h4 {
  font-weight: 600;
  margin-right: 10px;
}

.message__title span {
  color: #999;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}
